th{
    background-color:cyan;
}

.wrapper{
    padding: 40px;
    border-color:coral;
}

.mat-mdc-button{
    background-color: aqua;
    border-color:brown ;
    color: black;
    padding: 20px;

}

.mat-mdc-button:not(:disabled) {
    color:blue;
    border-color: blueviolet;
    padding: 14px;
    margin: 0 10px;

}

.host {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    justify-content: center;
  align-items: center;
  }